
@model IEnumerable<PaymentIndexViewModel> 
@{
    ViewBag.Title = "Payment Records";
}

<div class="row">
     <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Payment
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Pay Date</th>
                                    <th>Month</th>
                                    <th>Tax Year</th>
                                    <th>Total Earnings</th>
                                    <th>Total Deduction</th>
                                    <th>Net Pay</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-controller="Payment" asp-route-id="@item.Id">
                                                @item.FullName
                                            </a>
                                        </td>
                                        <td>@item.DatePay</td>
                                        <td>@item.MonthPay</td>
                                        <td>@item.Year</td>
                                        <td>@item.TotalEarnings $</td>
                                        <td>@item.TotalDeduction $</td>
                                        <td>@item.NetPay $</td>
                                        <td>
                                            <a asp-controller="Payment" asp-action="Detail" asp-route-id="@item.Id" class="text-success"><i class="fas fa-bars"></i>Detail</a>
                                            <a asp-controller="Payment" asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i>Edit</a>
                                            <a asp-controller="Payment" asp-action="ViewPDF" asp-route-id="@item.Id" class="text-warnig"><i class="fas fa-strash-alt"></i>PDF</a>
                                            <a asp-controller="Payment" asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-strash-alt"></i>Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>